body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


/*======footer=======*/

footer {
    background-color: #1f282d;
    color: #495d69;
    display: flex;
}

#icons {
    width: 50%;
    display: flex;
    justify-content: space-around;
    font-size: 2em;
    padding: 1em;
}

#icons a {
    color: #849fb0;
    text-decoration: none;
}

#icons a:hover {
    color: #fff;
    text-decoration: none;
}

#copy {
    width: 50%;
    text-align: center;
    font-size: .7em;
    margin: auto;
}
